# 1-2

In [2]:
import pandas as pd

# 读取 LR_1.csv
lr_data = pd.read_csv('LR_1.csv')

# 读取 ZCFZ.csv
zcfz_data = pd.read_csv('ZCFZ.csv')

# 提取 ZCFZ.csv 中的列字段为 A002000000 和 A001000000
zcfz_selected_columns = ['Stkcd', 'Accper', 'Typrep', 'A002000000', 'A001000000']
zcfz_filtered_data = zcfz_data[zcfz_selected_columns]

# 合并到 LR_1.csv 中
merged_data = pd.merge(lr_data, zcfz_filtered_data, on=['Stkcd', 'Accper', 'Typrep'], how='left')

In [3]:
# 读取 Stk_ind.csv
stk_ind_data = pd.read_csv('Stk_ind.csv')

# 提取 Stk_ind.csv 中的字段为 Indnme 和 Nindnme
stk_ind_selected_columns = ['Stkcd', 'Indnme', 'Nindnme']
stk_ind_filtered_data = stk_ind_data[stk_ind_selected_columns]

# 合并到 LR_1.csv 中
merged_data = pd.merge(merged_data, stk_ind_filtered_data, on='Stkcd', how='left')

# 将合并后的数据另存为 LR_2.csv（编码为UTF-8）
merged_data.to_csv('LR_2.csv', index=False, encoding='utf-8')

In [9]:
merged_data.shape

(33414, 19)

In [4]:
stk_ind_filtered_data.head()

   Stkcd Indnme   Nindnme
0      1     金融       银行业
1      2    房地产      房地产业
2      3     综合       综合类
3      4   公用事业  计算机应用服务业
4      5   公用事业   其他社会服务业

In [5]:
merged_data.head()

,Stkcd,Accper,Typrep,B001000000,B001100000,B001101000,B001200000,B001201000,B001207000,B001209000,B001210000,B001211000,B001212000,B001303000,B002300000,A002000000,A001000000,Indnme,Nindnme
0,600696,2018-3-31,A,8.669264e+06,18784589.8,18784589.8,1.068992e+07,7.810739e+06,204595.11,281510.68,2.260219e+06,115431.05,17427.60,NaN,NaN,4.437834e+08,7.455484e+08,房地产,房地产业
1,547,2018-3-31,A,9.675773e+07,517945246.5,517945246.5,4.266916e+08,2.729517e+08,789386.98,12657162.87,1.344988e+08,2518200.78,3276348.85,NaN,NaN,1.681114e+09,7.442314e+09,工业,信息技术业
2,2772,2018-3-31,A,8.953362e+07,267161661.1,267161661.1,1.898233e+08,1.527985e+08,694050.24,30133399.88,9.984417e+06,-3692930.13,-94158.98,NaN,NaN,1.422487e+09,4.176132e+09,综合,农业
3,2536,2018-3-31,A,8.198170e+07,696718212.6,696718212.6,6.147475e+08,5.005676e+08,6804021.51,16800256.48,8.143943e+07,9136202.91,NaN,NaN,NaN,1.156527e+09,3.292607e+09,工业,交通运输设备制造业
4,818,2018-3-31,A,1.741463e+08,907539547.9,907539547.9,7.338691e+08,6.535983e+08,15336943.77,24841913.58,3.475893e+07,3701613.61,1631376.36,NaN,NaN,1.322972e+09,4.061964e+09,工业,化学原料及化学制品制造业